.newhero_container{
   display: flex;
   align-items: center;
   justify-content: center;
}

.newhero_frame{
    border: 5px dashed black;
    background-color: white;
    border-radius: 2em;
    width: 30vw;
    height: 35vw;
    margin:0.7em 0 0 10em;
    position: relative;
    padding: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (width <=768px) {
    .newhero_frame{
        width: 100vw;
        height: 90vh;
        position: relative;
        padding: 0;
        margin: 0;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }     
}

