.newhero_container{
   /* display: flex;
   align-items: center;
   justify-content: center; */
}

.newhero_frame{
    /* border: 5px dashed black; */
    background-color: white;
    border-radius: 5%;
    width: 30vw;
    height: 40vw;
    position: relative;
    margin: 2.7em 0 0 1em;
    padding: 159px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.9); 
}

@media (width <=768px) {
    .newhero_frame{
        width: 100vw;
        height: 90vh;
        position: relative;
        padding: 0;
        margin: 0;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }     
}

