.skills{
    height: 60vh;
    width: 100%;
    position: relative;
    display: flex;
}

.container{
    position: relative;
    right:20vw;
    background-color: black;
    display: flex;
    flex-direction: row;
    width: 80%;
}
